* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --footer: #282828;
    --aside: #000;
    --container: #141922;
    --aside-nav: #4f4f4f;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    height: calc(100vh - 80px);
}

aside {
    height: 100%;
    width: 60px;
    background-color: var(--aside);
    flex-direction: column;
    justify-content: space-between;
    min-height: 400px;
    z-index: -1;
}


.debug .item {
    height: 200px;
    background-color: white;
}

.hidden {
    display: none;
}

.overflow-h {
    overflow: hidden;
}

.list {
    margin-top: 110px;
}

.d-flex {
    display: flex;
}

.f-column {
    flex-direction: column;
}

.f-wrap {
    flex-wrap: wrap;
}

.logo {
    padding: 20px;
}

.sidebar-top {
    height: calc(100% - 100px);
}

.sidebar-bottom {
    height: 100px;
}

.sidebar-nav ul {
    list-style: none;
    color: var(--aside-nav);
}

.sidebar-nav ul li {
    padding: 5px 0 5px 20px;
}

.sidebar-nav ul li i {
    font-size: 20px;
}

.selected {
    color: white;
    border-left: 2px solid #b8ff32;
}

.playlist {
    color: var(--aside-nav);
    padding: 20px;
}

.playlist h4 {
    color: white;
}

.create-playlist {
    margin-top: 15px;
    vertical-align: middle;
}

.create-playlist i {
    font-size: 35px;
    vertical-align: middle;
}

.create-playlist span {
    vertical-align: middle;
    display: inline-block;
    margin-left: 5px;
}

.playlist ul {
    list-style-type: none;
    margin-top: 10px;
    overflow-y: auto;
    height: 100%;
}

.playlist ul li {
    padding: 5px 0;
}

.sidebar-bottom {
    color: var(--aside-nav);
    vertical-align: middle;
    padding: 10px 20px;
    justify-content: flex-end;
}

.sidebar-bottom > * {
    margin: 10px 0;
}

.sidebar-bottom span {
    margin-left: 7px;
}

.sidebar-bottom .user {
    color: white;
    font-size: 15px;
}


.container {
    width: calc(100vw - 60px);
    height: 100%;
    background-color: var(--container);
    overflow-y: auto;
}

.topbar {
    position: fixed;
    height: 100px;
    width: 100%;
    top: 0;
    left: 60px;
    background-color: rgb(0, 0, 0, 0.5);
}

.items {
    width: 100%;
    padding: 0 20px;
    margin: 20px 0;
}

.items h1 {
    color: white;
    margin-left: 20px;
}

.item {
    width: calc(50% - 40px);
    margin: 20px;
}

footer {
    height: 80px;
    background-color: var(--footer);

}


/* RESPONSIVE */

@media screen and (max-width: 576px) {
    .playlist {
        display: none;
    }

    aside span, aside hr {
        display: none;
    }
    .hidden {
        display: block;
    }
    aside img:first-child {
        display: none;
    }

}

@media screen and (min-width: 576px) {
    aside {
        width: 200px;
    }
    .topbar {
        left: 200px;
    }
    .container {
        width: calc(100vw - 200px);
    }

}

@media screen and (min-width: 768px) {

    .item {
        width: calc(25% - 40px);
    }
}

@media screen and (min-width: 992px) {
    .columns {
        flex-wrap: nowrap;
    }
}